<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />

    <title>KUBO | Home</title>
</head>

<body>
    <!-- Home Page -->
    <%- include("./partials/_nav") %>
        <!-- Tabs -->
        <div class="main-content">
            <div>
                <!-- Land Market -->
                    <div class="tab-content tab-1-content show">
                        <div class="tab-side land-market">
                            <div class="market-title">
                                <h2>Land Market</h2>
                                <a href="/createproperty" class="color tab" id="tab-5">
                                    <span class="add">&plus;</span> Add Land
                                </a>
                            </div>
                            <div class="land-content">
                                <form class="land-form">
                                    <input type="text" placeholder="Search" />
                                </form>
                            </div>
                            <div class="cards index-cards">
                            </div>
                        </div>
                        <h2 class="loading" style="font-size: 1em; text-align: center;">loading...</h2>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/pagination.js"></script>
    <script src="/js/load_property.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/add_land.js"></script>
</body>

</html>